<%= render 'layouts/nav' %>
<p id="notice"><%= notice %></p>
<div class="jumbotron jumbotron-fluid">
    <div class="card center">
      <% @photos.each do |photo| %>
        <div class="card-header">
          <strong><%= photo.user.username %></strong>
        </div>
        <div class="card-block center">
        <a href= "<%= photo.image_url %>">
          <img class= "thumbnail" src="<%= photo.image_url %>">
        </a>
        <br>
          <strong><%= link_to "#{photo.user.username} ", user_path(photo.user_id) %></strong>  <%= "#{photo.caption}" %>
        </br>
        <br>
          <%= link_to image_tag('heart.svg') %>
          <%= link_to image_tag('comment.svg') %>
        </br>
            <% photo.comments.each do |comment| %>
            <p>
              <strong> <%= link_to "#{comment.user.username} ", user_path(comment.user_id) %> </strong><%= comment.content %>
            </p>
            <% end %>

            <%= form_for [photo, photo.comments.new] do |form| %>
              <div class= "form-group">
                <%= form.text_area :content, class: 'form-control', placeholder: 'Enter Your Comment.' %>
                <br>
                <%= form.submit :Post, class: 'btn btn-basic' %>
                </br>
              </div>
            <% end %>
        </div>
        <% end %>
    </div>
</div>

<%= link_to 'New Photo', new_photo_path %>
