<p id="notice"><%= notice %></p>
<h1>Photos</h1>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="card text-center">
      <% @photos.each do |photo| %>
        <div class="card-header">
        Posted by: <%= photo.user.username %>
        </div>
        <div class="card-block">
        <a href= "<%= photo.image_url %>">
            <img class = "thumbnail" src="<%= photo.image_url %>">
        </a>
            <%= photo.caption %>
        <% end %>
        </div>
      </div>
    </div>
</div>

<%= link_to 'New Photo', new_photo_path %>
