<%= render 'layouts/nav' %>
<p id="notice"><%= notice %></p>
<div class="jumbotron jumbotron-fluid">

    <div class="card center">
      <% @photos.each do |photo| %>
        <div class="card-header">
          <strong><%= photo.user.username %></strong>
        </div>
        <div class="card-block center">
        <a href= "<%= photo.image_url %>">
          <img class= "thumbnail" src="<%= photo.image_url %>">
        </a>
        <br>
          <strong><%= current_user.username %>:</strong>  <%= photo.caption %>
        </br>
        <br>
          <img class= "icons" src="https://imageog.flaticon.com/icons/png/512/14/14949.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF">
          <img class="icons" src="https://d30y9cdsu7xlg0.cloudfront.net/png/124237-200.png">
        </br>
            <% photo.comments.each do |comment| %>
            <p>
              <strong><%= comment.user.username %>: </strong><%= comment.content %>
            </p>
            <% end %>

            <%= form_for [photo, photo.comments.new] do |form| %>
              <div class= "form-group">
                <%= form.text_area :content, class: 'form-control' %>
                <br>
                <%= form.submit :Post, class: 'btn btn-basic' %>
                </br>
              </div>
            <% end %>
        </div>
        <% end %>
    </div>
</div>

<%= link_to 'New Photo', new_photo_path %>
