<div class="container-fluid center">
<p id="notice"><%= notice %></p>

<p>
  <img src="<%= @photo.image_url %>">
</p>

<p>
  <strong><%= @photo.user.username %>:</strong>
  <%= @photo.caption %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
</div>
