<nav class="navbar sticky-top navbar-light bg-white">
    <%= link_to image_tag("logo.svg"), photos_path %>
    <%= link_to image_tag("profile.svg"), profile_path %>
    <%= link_to image_tag("add_icon.svg"), new_photo_path %>
    <% if user_signed_in? %>
    <%= link_to image_tag("logout.svg"), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to('Login', new_user_session_path)  %>
    <% end %>
</nav>
